<!-- Group edit landing page -->

<div class="banner">
  <img src="<%= asset_path( 'header_groups.jpg' ) %>" />
</div>
<h1>Editing Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
