<!-- About page for eVAL development team -->
<!-- Details biographies of members --> 

<div class="banner">
  <img src="<%= asset_path( 'header_about.jpg' ) %>" />
</div>

<div class="container-fluid">
	<h1>Meet the Team</h1>
</div>

<div class="container-fluid">
	<div class="row center">
		
		<div class="col-sm-6 about">
			<img class="img-circle" src="<%= asset_path( 'ryan.jpg' ) %>" />
			<h2>Ryan Tomlinson</h2>
			<p>
				Ryan is a junior at The Ohio State University. He is currently studying Computer Science and Engineering. His interests include fencing, playing the piano and going to football games.
			</p>
		</div>
	</div>
</div>
