<!-- New Evaluation landing page -->

<div class="banner">
  <img src="<%= asset_path( 'header_evaluate.jpg' ) %>" />
</div>
<h1>New Eval</h1>

<%= render 'form' %>

<%= link_to 'Back', evals_path %>
