<!-- Edit class page -->

<div class="banner">
  <img src="<%= asset_path( 'header_classes.jpg' ) %>" />
</div>
<h1>Editing Class</h1>

<%= render 'new' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
